[2022-01-21 07:20] Ashfaaq18 opened #1 "Implement minimize to tray."
Once implemented, hovering over the icon should show,
-  a summary of the data usage.
-  network speed.

Right clicking the icon should show,
-  option to exit.
-  any important setting if available in the future.

[2022-01-21 08:25] Ashfaaq18 opened #2 "Seperate Wi-Fi profiles for every unique SSID."
**Is your feature request related to a problem? Please describe.**
The Wi-Fi usage combines the information of all the SSIDs to one profile.
ex: i connect to Wi-Fi(SSID: A) first and use it for 10 mins, the Wi-Fi profile logs as usual. Now, i connect to Wi-Fi(SSID: B) and use it for 10 mins. Here the usage specs of B is combined with A.

**Describe the solution you'd like**
Separate profiles for e

[2022-01-22 12:47] #1 closed

[2022-01-28 13:20] Ashfaaq18 opened #4 "Application does not run on windows startup"
**Describe the bug**
When the application is set to run during windows startup using the task scheduler. The task works, but the application is not running.

**To Reproduce**
Steps to reproduce the behavior:
1. Set app to start when the system switches on
2. restart system
3. wait for the app to launch
4. app does no launch

**Expected behavior**
App launches

**App and Windows Version (please com

[2022-01-28 14:09] #4 closed

[2022-01-29 21:42] Ashfaaq18 opened #6 "Add program to startup on windows boot through the application."
**Is your feature request related to a problem? Please describe.**
Currently, the user has to manually add the program through task scheduler to start it up on windows boot.

**Describe the solution you'd like**
Add a checkbox in the program to provide the auto start on windows boot option.

**Describe alternatives you've considered**
None

**Additional context**
None

[2022-01-30 11:45] #6 closed

[2022-01-30 15:34] Ashfaaq18 opened #8 "Application opens multiple instances when opening it more than once"
**Describe the bug**
If you open the application more than once, there will be exactly the same amount of separate open instances of the application.

**To Reproduce**
Steps to reproduce the behavior:
1. Right click, open the application as an admin
2. Repeat step 1 as many times as you want
3. Watch the accumulation of windows.

**Expected behavior**
Have only one instance of the application open

[2022-01-31 15:08] #8 closed

[2022-02-02 11:34] cmwg71 opened #10 "Taskbar speed visual"
Instead of mouseover to see the network speed, show the speed direct in the taskbar so it can be viewed instantly without having to mouseover

[2022-02-02 14:18] Ashfaaq18 commented on #10
I was actually thinking of creating something like this, I'll see if i can implement this in the future.

[2022-02-03 14:17] BitWuehler opened #11 "Speed mouseover display, if taskbar is at the top"
I use Windows 10 and I have my taskbar at the top of the screen.
If I want to see the mouseover display, it opens, but it is out of the screen, because it pops out over the mouse, not under it.

**To Reproduce**
Steps to reproduce the behavior:
1. Put you taskbar to the top of the screen
2. Hover over the trayicon

**Expected behavior**
Show the display under the mouse, if the taskbar is at the to

[2022-02-03 14:25] BitWuehler opened #12 "Pull the window larger with the mouse"
**Is your feature request related to a problem?
I love to see all programms that use nettraffic at once. The Window to see the traffic is to smal for that.

**Describe the solution you'd like**
It would be wonderfull, if you could build in the functionality to pull the windows larger with the mouse.

Could be, that you have that allready in mind. It's only a thing that I noticed very fast.

Thank

[2022-02-03 14:31] Ashfaaq18 commented on #11
Thanks for reporting this bug @BitWuehler, i totally forgot about the different task bar layouts.

[2022-02-03 14:34] BitWuehler commented on #11
Sure, no problem. Thank you for your fast answer and your work! @Ashfaaq18

[2022-02-03 19:30] #11 closed

[2022-02-04 06:36] Ashfaaq18 commented on #11
Fix available in v0.4.0 release

[2022-02-04 10:45] binocry commented on #10
please make toolbar taskbar feature like NetSpeedMonitor app

[2022-02-05 06:39] dayter1 opened #13 "download / upload speed display"
Hi, great software but the speed values are a bit small, perhaps you can move it directly under the bigger windows for the network load perhaps with a fourth white window and larger font?! I have taken a screenshot to explain what I mean:
https://www.dropbox.com/s/0ezbfoxljgcxjt8/opennetmeter.jpg?dl=0

Thanks in advance and stay healthy!!

[2022-02-05 08:47] Ashfaaq18 commented on #13
Hey @dayter1, thank you for the issue and i hope you are doing well.

Regarding the network speed location. If you notice the placement. Its actually embedded to the frame of the window.
Therefore, when switching the pages between summary, detailed and settings. The speed value and connection will always be visible.

In your suggestion, by moving it to your location. It will show up only under the

[2022-02-05 13:02] merlin555 opened #14 "Minimize"
Hello,

How i can setting the OpenNetMeter when start it with Windows 10, start minimized.
So it is already in the background with the Windows start.

Greetings..

Merlin

[2022-02-05 13:34] Ashfaaq18 commented on #14
Hey Merlin, greetings to you too.

Currently there is no option to start the window minimized, I genuinely forgot about this requirement.
I'll add this feature by the next release.

Btw, The program is added as a task to the windows "Task Scheduler". You can manipulate the settings there for now.

[2022-02-05 14:00] blueport87 opened #15 "Option to select network interface"
Just installed the app, it's working great!
I would like to suggest an option in the settings to be able to set the network interface manually. I'm using VPN so there are two active network connections.

[2022-02-05 16:43] dayter1 commented on #13
Guten Tag Ashfaaq Riphque,

am Samstag, 5. Februar 2022 um 09:47 schrieben Sie:

Hi, I understand this problem!
 
Perhaps you can use a bigger font and if this is possible in the same colour scheme as the loed values perhaps with the up/down arrow!?
 
What do you think about that? And can you make the main window scalable and add the option to always stay on top?!
 
Many many thanks, stay healthy!

[2022-02-05 20:08] merlin555 commented on #14
Hi Ashfaaq18,

Thank you for your prompt reply.
Can happen :-)
I have just looked at the Task Scheduler.
Only I do not know the command yet.

I have two ideas where you could install in your tool.

The icon below in the bar (world globe), change, so you see a bar for download and upload.
Look at: "NetMeter EVO", that apparently is no longer developed.
[http://metal-machine.de/readerror/netmeter-ev

[2022-02-06 06:36] Ashfaaq18 commented on #13
Thats a great idea, ill try implementing this.

I'm planning on adding this. there is already an issue regarding this #12

This one is a little tricky, i'll see if i can add this.

Thank you for your suggestions and you stay healthy as well!!!

[2022-02-06 07:20] Ashfaaq18 commented on #15
Hey @blueport87 thank you for your suggestion.

Even with 2 online connections, windows has to choose only one as the active network for data transfer.
So wouldn't it be ideal to have just the active connection shown? or am i missing something here? Feel free to clarify if i am.

[2022-02-06 10:11] dayter1 commented on #13
Guten Tag Ashfaaq Riphque,

am Sonntag, 6. Februar 2022 um 07:36 schrieben Sie:

Great news, good luck :-)
 
Det

-- 
Mit freundlichen Grüssen
Detlev Sczesny
***@***.***
Telegram 0176 51603362

[2022-02-06 19:05] mapl commented on #10
a nice reference windows app is https://entropy6.com/xmeters/

[2022-02-06 20:47] war59312 opened #16 "Use UAC Manifest to Always Run with Admin Permissions"
Hi,

Suggest using UAC Manifest for the exe so it always runs as admin instead of having to ask the end user to run as admin first.

See example for C/C++: https://docs.microsoft.com/en-us/cpp/build/reference/manifestuac-embeds-uac-information-in-manifest?view=msvc-170

Best,

Will

[2022-02-07 22:58] blueport87 commented on #15
I'm not entirely sure but VPN creates a virtual network interface and all apps can send data though it.
![obraz](https://user-images.githubusercontent.com/99081896/152884320-782162bc-d697-4594-845a-bcd9020acc66.png)
This is how it looks on my machine. There are two active network connections.
It somehow worked for the first time but now the app either does not count traffic (shows status as discon

[2022-02-10 06:19] Ashfaaq18 commented on #15
Thank you for the report @blueport87, it looks like your vpn is a Tunnel adapter and unfortunately at the moment this program does not support it. I will add this support in the near future.
And ill add the option to select the network interface as well.

[2022-02-10 06:22] Ashfaaq18 commented on #16
Hi @war59312, thanks for the issue. I'll see if i can implement this.
for the time being though, you could

![image](https://user-images.githubusercontent.com/27722888/153349621-8263c28e-6657-4b87-9aac-ea40d657e02f.png)

tick this checkbox and always have it open in admin mode

[2022-02-11 10:11] Textator commented on #10
Yes, I second that. That would be nice and useful. Lots of people in forums looking for alternatives for outdated netspeedmonitor's or https://github.com/zhongyang219/TrafficMonitor taskbar speed display.

[2022-02-12 16:04] #10 closed

[2022-02-13 05:29] #14 closed

[2022-02-13 22:57] merlin555 commented on #13
Hi Ashfaaq18,

Yes, I would also like to have this function in the OpenNetMeter.
The window is not high enough for me with "Detailed" window.
Width is good for me and the font size too.
If the window were higher or could enlarge with the mouse,
would just get all tasks displayed for me without making it bigger and bigger.
The windows are also not saved.

<img width="610" alt="Detailed_Window" src=

[2022-02-13 23:12] merlin555 opened #19 "Speed ​​Display is too small"
Hi Ashfaaq18,

The font size of the speed indicator is too small for me.
Font color is perfect.

I would add a function when the speed display is activated,
you can hide the globe and then at the speed display,
open the OpenNetMeter program with the left mouse button.
Else are two icons in the right taskbar.
Then one too many for me.

Simply brilliant tool.
Keep going.

Greetings..

 Merlin

<img

[2022-02-14 09:23] MagicAndre1981 commented on #10
0.5 no longer starts for me under 22000.493 (x64 - German), so I can't test it

[2022-02-14 10:16] cmwg71 commented on #10
Windows 11 by default does not show the speeds in the taskbar, that was unfortunately removed.
You can however use StartAllBack, this gives you the old taskbar back (Windows 10) and then you can select to show the speeds.

[2022-02-14 11:28] MagicAndre1981 commented on #10
I already use StartAllBack, this is why I wanted to test it, but even the normal application no longer starts. 0.4 worked fine

[2022-02-14 12:03] Ashfaaq18 commented on #10
Hey @MagicAndre1981, for this new release you've got to also download and install [VC redist x64](https://docs.microsoft.com/en-us/cpp/windows/latest-supported-vc-redist?view=msvc-170). Its because i implemented this feature through c++.

I amended the installation instructions accordingly. I'll try to release another subversion to maybe warn the users with a dialog box to install this.

[2022-02-14 12:24] cmwg71 commented on #10
Seems to be an issue on your side, i have Win 11 (lastest patches) + StartAllBlack 0.50 running without an issue.

[2022-02-14 13:46] #16 closed

[2022-02-14 13:47] Ashfaaq18 commented on #16
this will be available in the next v0.6.0 release

[2022-02-14 14:23] MagicAndre1981 commented on #10
I already have the C++ runtime installed as part of VS17.1 Preview 6.0

Here is the callstack I see in Windbg, so crash happens directly at app start:

[code]

[2022-02-14 15:11] Ashfaaq18 commented on #10
@MagicAndre1981, thanks for the call stack, ill try to find the issue.
in the meanwhile i released  [v0.5.1-alpha](https://github.com/Ashfaaq18/OpenNetMeter/releases/tag/v0.5.1-alpha) with the deskband feature statically linked to its dependents. could you download that and check it if its working?

[2022-02-14 16:04] MagicAndre1981 commented on #10
0.5.1 works fine for me 👍

[2022-02-14 16:08] Ashfaaq18 commented on #10
nice, finally its working.

[2022-02-18 09:10] Ashfaaq18 commented on #12
Hey @BitWuehler , i was thinking of resizing the window only vertically. Would that be alright?

[2022-02-25 20:52] MohammedMehdiTBER opened #20 "OpenNetMeter Won't launch on Windows 11"
**Describe the bug**
OpenNetMeter Won't launch on Windows 11 Latest Dev Version.

**To Reproduce**
Steps to reproduce the behavior:
Click on the launcher icon
Nothing launches

[2022-02-26 03:29] Ashfaaq18 commented on #20
Have you installed the .Net 5 runtime?
Whats the OpenNetMeter version you've downloaded? try the latest 0.5.1 release (0.5.0 is broken)
Did this run fine before a new windows 11 update?

[2022-02-26 10:58] MohammedMehdiTBER commented on #20
Worked after reboot, but still It doesn't support taskbar.

[2022-02-26 10:58] #20 closed

[2022-02-26 11:04] Ashfaaq18 commented on #20
Hi @MohammedMehdiTBER,

Microsoft actually removed the support for that taskbar display under windows 11. To add this functionality, you'll have to install a 3rd party app like StartAllBack, this brings back some features microsoft removed from the taskbar. With this you can enable the speed display feature.

and thanks for giving an update

[2022-03-01 13:51] #12 closed

[2022-03-01 13:55] Ashfaaq18 commented on #12
![ResizeFix_GIF](https://user-images.githubusercontent.com/27722888/156181775-35e10a4a-3755-4a70-9a9d-a4130887c7b0.gif)

@BitWuehler , does this look alright?

[2022-03-01 14:00] BitWuehler commented on #12
Looks nice. Thank you!

[2022-03-02 13:23] Ashfaaq18 opened #25 "Application does not respond correctly when USB tethering with smartphone."
**Describe the bug**
The application does not detect the connection and disconnection status accurately when tethering with a smartphone.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Application
2. Tether internet to pc using smartphone usb
3. Observe connection status go from "Disconnected" to "Ethernet ##"
4. Untether mobile connection
5. Connection does not reset to status "Discon

[2022-03-03 07:59] #25 closed

[2022-03-03 09:41] Ashfaaq18 commented on #15
Hey @blueport87, i just released v0.6.0 with some updates to having multiple active connections.
I did not implement selecting between 2 active interfaces, but it should detect the one which windows is using atm.

this version should not crash when changing the VPN connection. could you test it and let me know.
If its still a problem ill try implementing the option to select between network interf

[2022-03-03 09:45] Ashfaaq18 commented on #13
Hey @dayter1 and @merlin555 , just released v0.6.0 with scalable window and bigger download/upload font. Feel free to check it out.

Have to yet implement the windows always on top function. ill leave this issue open till then.

[2022-03-03 15:44] merlin555 commented on #13
Hi Ashfaaq18,

I installed the new version 0.6.0.

Only the font size is still so small.

The window is not stored in place.
At the next start, the setting of the windows is gone again.
And I would like that if your program opens, the "Detailed" window opens.
You can set this so that just the last window, where to open, the program remember that.

Can you please fix that if you have "only" the spe

[2022-03-03 16:04] Ashfaaq18 commented on #13
@merlin555 , thanks for the feedback. This issue refers to a different font size increase. Not the taskbar one you mentioned in #19. I did not fix that yet, I'll get to it in a few days.

Btw, can you create a new issue regarding the above you've requested? it would be great if you could break them down to separate issues so its easier for me to work on.
Discussions in this thread is only about th

[2022-03-03 16:23] merlin555 opened #27 "Window"
Hi Ashfaaq18,

The window is not stored in place.
At the next start, the setting of the windows is gone again.
And I would like that if your program opens, the "Detailed" window opens.
You can set this so that just the last window, where to open, the program remember that.

Thanks !

Greetings..

 Merlin

[2022-03-03 16:25] merlin555 opened #28 "OpenNetMeter - open via speed display"
Hi Ashfaaq18,

Can you please fix that if you have "only" the speed in the bar,
that you can double-click with the left mouse button so that your program opens.
So far, this is just about the globe symbol.

Thank you.

Greetings..

 Merlin

[2022-03-04 11:26] Ashfaaq18 commented on #19
hey @merlin555, can you test this [release](https://github.com/Ashfaaq18/OpenNetMeter/releases/tag/v0.6.0-RC1) and let me know if the speed indicator size is alright?

[2022-03-04 14:21] merlin555 commented on #19
Hi Ashfaaq18,

The size is good now.
Only it is cut off on the right.
That will probably be on my Windows system.
Have to restore my last image backup back.

<img width="432" alt="2022-03-04 15_18_07-" src="https://user-images.githubusercontent.com/14818838/156780126-3f0ee46c-69a1-44e4-b382-ee506f21bc0f.png">

[2022-03-05 06:01] Ashfaaq18 commented on #19
@merlin555, Is the cut off problem still there?

[2022-03-05 14:58] Ashfaaq18 opened #29 "Add option to seperate network traffic."
**Is your feature request related to a problem? Please describe.**
Currently the program detects all network traffic apart from loop-backs.

**Describe the solution you'd like**
Add option to detect,
1. Internet traffic only
2. Local network traffic only
3. Internet+local network traffic (currently what the program works with)

[2022-03-05 17:05] merlin555 commented on #19
@Ashfaaq18

Not quite.
There are a few weeks left until I restore my last Windows backup back.
The centering of the text is also like it should.
See video:

https://user-images.githubusercontent.com/14818838/156893006-cafeaa80-0a9f-497e-bf00-1fd26e9f85b7.mp4

[2022-03-06 15:02] #29 closed

[2022-03-07 09:15] Ashfaaq18 commented on #27
Hi @merlin555,

Do you mean that when you exit the app completely and reopen the next time,
the app should display back again in the old location with the old active tab?

[2022-03-07 13:38] merlin555 commented on #27
Hi Ashfaaq18,

Yes, exactly.
Even the window size that you change does not remain.
I noticed that you programmed it in such a way that the window can be controlled differently.

Greetings..

Merlin

[2022-03-12 16:18] dayter1 commented on #13
Guten Tag Ashfaaq Riphque,

am Donnerstag, 3. März 2022 um 10:45 schrieben Sie:

Hi, have another issue with the interface (see screenshots)!
 
Best regards and stay healthy!!

-- 
Mit freundlichen Grüssen
Detlev Sczesny
***@***.***
Telegram 0176 51603362

[2022-03-12 18:28] merlin555 commented on #27
Hi Ashfaaq18,

The window is now saved perfectly, and the last window you opened always comes up.
Thanks !

Greetings..

 Merlin

[2022-03-12 18:33] merlin555 commented on #19
Hi Ashfaaq18,

In the speed display, when the display changes, if not at zero, the position of the display changes.
The column is then no longer left-aligned, but constantly changes from left-aligned <-> middle.
Then it looks very strange.

Greetings..

Merlin

[2022-03-16 15:47] Ashfaaq18 commented on #13
Hi @dayter1, I don't see the screenshots you've attached. Could you reattach and send it again?

[2022-03-16 16:05] dayter1 commented on #13
Guten Tag Ashfaaq Riphque,

am Mittwoch, 16. März 2022 um 16:48 schrieben Sie:

Here they are!

-- 
Mit freundlichen Grüssen
Detlev Sczesny
***@***.***
Telegram 0176 51603362

[2022-03-19 11:18] Ashfaaq18 opened #32 "Implement Dark mode"
Provide an option to switch to Dark mode in the settings tab.

[2022-04-14 23:23] #32 closed

[2022-04-22 20:35] Ashfaaq18 opened #34 "Cant re-enable the main window from system tray."
**Describe the bug**
Cant re-enable the window from system tray. This happens when the user closes it from the ALT+TAB program switcher

**To Reproduce**
Steps to reproduce the behavior:
1. Open the program
2. alt+tab to the program switcher and close OpenNetMeter
3. go to the system tray and double click the icon or right click and select show
4. See error

**Expected behavior**
Show the main win

[2022-04-22 20:46] #34 closed

[2022-04-22 23:36] Ashfaaq18 opened #36 "Disconnected sections in the speed graph"
**Describe the bug**
Parts of the speed graph appear disconnected when switching from a different tab to summary page

**To Reproduce**
Steps to reproduce the behavior:
1. Open the program
2. switch to detailed tab or settings tab
3. switch back to summary page
4. keep repeating step 2 and 3 until you see a part of the graph disconnected

**Expected behavior**
Smooth graph without any disconnected

[2022-04-22 23:42] #36 closed

[2022-04-24 06:11] dayter1 commented on #13
Guten Tag Ashfaaq Riphque,

am Mittwoch, 16. März 2022 um 16:48 schrieben Sie:

Hi, after reboot your tool counts the traffic again :-)
 
But now I have a issue with "total usage" again (see screen)!
 
 
Best regards and stay healthy!!

-- 
Mit freundlichen Grüssen
Detlev Sczesny
***@***.***
Telegram 0176 51603362

[2022-04-24 06:37] Ashfaaq18 commented on #13
Hi @dayter1, thanks for reporting.

I'm still facing the same problem @dayter1,

I cant see any of the image attachments you've included.
You can try sending me the images to my mail address, it's available under my Github profile main page.
Or
upload them to dropbox and post the link here. Just like your first comment in this thread.

Thanks.

[2022-04-24 09:10] dayter1 commented on #13
Guten Tag Ashfaaq Riphque,

am Sonntag, 24. April 2022 um 08:37 schrieben Sie:

Cannot find your mail adress so I UL the shots to dropbox: https://www.dropbox.com/sh/gsn8hk53are9mqd/AAAQRuo3Vt1i2LXtN94m7Qyba?dl=0

-- 
Mit freundlichen Grüssen
Detlev Sczesny
***@***.***
Telegram 0176 51603362

[2022-04-24 14:04] Ashfaaq18 commented on #13
Thanks @dayter1, i can now view the images.
if possible, could you also include an image of the detailed view table of your ProtonVPN connection? Try to include all the processes in an image or multiple images. You can censor the process names column if necessary.

[2022-04-26 09:42] TanakJuka opened #38 "Taskbar goes awry, Explorer.exe needs random restart on Win10"
Installed Open Net Meter recently on 2 laptops.
Randomly, it happens that:
- The taskbar loses some graphical details (eg. The clear line below the open windows)
- The Open Net Meter speed toolbar gets "crunched" to the side
- Most of the tray icons disappear (their functionality seems to remain, and they take up space. It's just an invisible icon)
I can still swap windows by clicking (so, it's no

[2022-04-26 10:23] Ashfaaq18 commented on #38
Hi @TanakJuka , thank you for reporting this issue.

I did not really understand the above point. It would be great if you could attach an image of it.

If you have the time, could you attach an image of the above as well?

Can you try running the software with the "Show network speed on the Taskbar" option disabled? check if the taskbar problems still occur.

And which OpenNetMeter version is thi

[2022-04-28 14:59] Python-37 opened #39 "Implement Network Usage Statistics by Day"
**Is your feature request related to a problem? Please describe.**
Hello, this software is the very tool I am looking for, could you please add a tab that can show data usage in the past several days, so that I can know the usage information of every program in the past days.

**Describe the solution you'd like**
Add a tab that can show data usage history of every program, statistics by day, or ma

[2022-04-29 01:29] Python-37 commented on #39
Nice, thanks for your great work. As a Chinese saying goes "英雄所見略同".

[2022-05-03 13:15] TanakJuka commented on #38
Hi @Ashfaaq18 ,
Sorry for the late answer, took some time to test things out.

First of all, one of the two laptops was still in 0.7.0, the other was already in 0.8.0.
Both showed the issue, and it happened again after updating the first one to 0.8.0.

About the description, below I attach two screenshots taken in separate moments with what I mean for "Taskbar loses details". (Sorry for the blur,

[2022-05-03 14:34] Ashfaaq18 commented on #38
Hi @TanakJuka , Thank you so much for the detailed response.

No problem at all.

Thank you for these images and the bullet points explaining the problems. You've cleared my doubts.

I did come across this problem quite some time back. This did not accompany a malfunctioning taskbar though. I'll see if i can fix this separately.

I do believe that this problem is caused by the toolbar speed featur

[2022-05-05 05:01] Ashfaaq18 opened #40 "Change taskbar network speed meter implementation to support windows 10 & 11."
Microsoft stopped officially supporting the [deskband feature](https://docs.microsoft.com/en-us/windows/win32/api/shobjidl/nn-shobjidl-ideskband2) as of windows 7. The feature was still included in the following operating system releases up until windows 10 and finally [removed in windows 11](https://en.wikipedia.org/wiki/List_of_features_removed_in_Windows_11).
Due to this, the network speed mete

[2022-05-07 02:33] Python-37 commented on #40
May be using a mini window is a good alternative implementation, showing an always on top window, if user move it to any side of screen, then show a very simple widget instead.

[2022-05-07 07:09] wcxu21 opened #41 "Request to add multilingual support to GUI"
Hi, bro.

Can you add multilingual support to the program? I can help you with Chinese language support.

Thanks for your work.

[2022-05-08 01:23] Ashfaaq18 commented on #41
Hi @wcxu21, Thank you for your suggestion and support.
This feature will take some time to implement. I'll have to first implement a separate language section, and then lay down the instructions on how to contribute to this project.
Once i set these up, I'll get back to you.

[2022-05-09 09:01] TanakJuka commented on #38
Hello,
writing just to confirm that after last post, I've had _no explorer crash_ after disabling the Deskband addon for the network speed (including 3 days running 9-hours-long work sessions with Open Net Meter always in tray).

I'd say your hunch was correct!

I'll be available to test more out when you have time to look at the issue.
In the meantime, thanks for the help!
– Tanak

[2022-05-09 11:56] Ashfaaq18 commented on #38
Hi @TanakJuka ,

Thanks again for the update. Now we have it narrowed down to the implementation causing the problem.
I tested this issue in my pc and observed the same errors when i had the network speed meter enabled. With it disabled, there was no explorer crash.

I tried looking through the code to check for any sections i overlooked and found one. The fix is available in the new [0.8.1](https

[2022-05-10 07:00] FDT-Dirk commented on #38
Hi,

I experienced the same behavior on 2 Win10 boxes and the explorer crash remains even in newest 0.8.1 release.
I jump in here with new account to speed up the fixing discussion. A crashing explorer.exe is really not the best on a Win system. ;-)

Regards
Dirk

[2022-05-10 09:14] TanakJuka commented on #38
Back here too,
Installed 0.8.1 yesterday, and kept Deskband on since.

Sadly had the first explorer.exe crash just a moment ago, but without the artifacting mentioned in post https://github.com/Ashfaaq18/OpenNetMeter/issues/38#issuecomment-1116084835, so Crash-restart-back to normal desktop in about 10 seconds max.

Sad to see Windows deprecating the active toolbars, as I preferred not taking up f

[2022-05-11 09:53] FDT-Dirk commented on #38
Hi,
I right now had even an incident with then missing/non-shown icons again and needed to restart the explorer.exe on my own to clean that up again.
Looking really forward for a fix. ;-)
regards
Dirk

[2022-05-11 11:04] Ashfaaq18 commented on #40
A small update on the mini window implementation i'm working on

![MiniWidget_demo2](https://user-images.githubusercontent.com/27722888/167834697-ebba2276-d010-4de1-ab96-f1caac912ade.gif)

this implementation still needs some refining.

[2022-05-11 11:07] Ashfaaq18 commented on #38
Hi @FDT-Dirk and @TanakJuka , [here is a small update](https://github.com/Ashfaaq18/OpenNetMeter/issues/40#issuecomment-1123582340) on the new implementation i am working on. Once i complete this, I'll release a new version with it for testing.

[2022-05-16 08:28] #40 closed

[2022-05-16 10:21] Ashfaaq18 commented on #38
Hi @TanakJuka and @FDT-Dirk , i just released [0.9.0](https://github.com/Ashfaaq18/OpenNetMeter/releases/tag/v0.9.0) for testing. Would love to get your feedback on this feature.

Thanks.

[2022-05-16 13:47] FDT-Dirk commented on #38
Hi,
again me. Rebooted my Win10 and found out that widget with setting "transparent background" does not show anything in it beside the surrounding frame after the reboot. And from the location of the "frame" around the empty widget it looks like it even moved the widget some pixels downwards.
Regards
Dirk
![empty_widget](https://user-images.githubusercontent.com/105270901/168607178-e5b362d2-a6aa-

[2022-05-16 15:16] Ashfaaq18 commented on #38
@FDT-Dirk, i just fixed that bug and reuploaded a new zip file to the same [0.9.0](https://github.com/Ashfaaq18/OpenNetMeter/releases/tag/v0.9.0) release. could you test it again?

[2022-05-17 06:28] FDT-Dirk commented on #38
@Ashfaaq18, I just installed it and the size of the widget is normal again. I keep it running and monitor the behaviour. Unluckily I will not be able to reboot my system the next days.

[2022-05-17 06:45] Ashfaaq18 commented on #38
@FDT-Dirk ,

No problem, take your time.

The speed meter always had download on top and upload below it. I never implemented a setting to switch their positions before.

[2022-05-17 06:50] FDT-Dirk commented on #38
@Ashfaaq18, then I mixed something up with the display setting. But anyway you did it right. ;-) Thx
Maybe some of my ideas will flow into the next releases, looking forward for further developments.
(...."click-through" and if so would fade out when the mouse is hovered over it.) :-)

[2022-05-17 07:24] Ashfaaq18 commented on #38
@FDT-Dirk , It would be great if you could create a new issue on this as a feature request. We can discuss further there.

[2022-05-17 08:58] TanakJuka commented on #38
Hi,
Installed 0.9.0 "First version", and replicated the issue both of you were having after reboot.
Installed the "updated" 0.9.0 but had the possibility to reboot, confirming the MiniWidget remains correctly sized.

Thank you!
– Tanak

[2022-05-17 09:20] Ashfaaq18 commented on #38
Hi @TanakJuka , thank you for the feedback.

[2022-05-22 17:30] Ashfaaq18 commented on #28
Hi @merlin555,

In the v0.9.0 release, i reimplemented the taskbar speed meter as an always on top mini widget which can be placed over the taskbar. You can right click this and open the application. And for the reason why, I've explained it [here](https://github.com/Ashfaaq18/OpenNetMeter/issues/40).

[2022-05-22 17:30] #28 closed

[2022-05-22 17:50] merlin555 commented on #28
Hi Ashfaaq18,

Thanks for letting me know.
It's much better now.
Very well !

[2022-05-23 05:10] Ashfaaq18 commented on #38
Hey all, ill close this issue since i believe the new implementation solves it. If you want to suggest new ideas, feel free to open a new issue.

[2022-05-23 05:10] #38 closed

[2022-05-23 07:36] Ashfaaq18 opened #43 "Migrate project from .NET 5 to .NET 6"
**Is your feature request related to a problem? Please describe.**
Microsoft [ended .NET 5's support](https://dotnet.microsoft.com/en-us/platform/support/policy/dotnet-core) on the 10th of May 2022 with no LTS. The current supported version at the time of this issue is .NET 6 with LTS.
.NET 6 provides a [significant amount of improvement](https://devblogs.microsoft.com/dotnet/announcing-net-6/) ov

[2022-05-23 18:22] LordZeuss opened #44 "Feature Request - Download Results Into File"
This is a great program. One suggestion I have, would be to be able to possibly download results in a individual file, like a table. For example, I want to be able to click a "start recording" button of the sorts, monitor my traffic, and then "stop recording" and be able to have that result shown. I'll admit, I don't have a solid idea for how to display the results, but one possibility is to simpl

[2022-05-24 02:37] Ashfaaq18 commented on #44
Hey @LordZeuss , thank you for the idea. Its an interesting one and i think i can make it work.

And btw, I'm currently implementing feature #39. In this, i plan on allowing the user to access their past 6 months data usage.
Inside this 6 month range, the user can select either a specific day or multiple to view their usage.
Is this somewhat related to what you want?
I can implement the record and

[2022-05-24 02:58] LordZeuss commented on #44
Absolutely! I think the 6 month range is a fantastic idea. That is the right concept for what I am looking for, and right now the "finer controls" method I use is to simply reset the collection, and monitor it that way. A start/stop would be more ideal, so if you're trying to gauge how much traffic a certain application uses, for certain tasks, you could at least stop the collection, so you can ge

[2022-05-24 03:45] Ashfaaq18 commented on #44
Thanks again

I'm using a [Microsoft library](https://github.com/microsoft/perfview/blob/main/documentation/TraceEvent/TraceEventLibrary.md) which allows me to access a feature called [Event tracing for windows (ETW)](https://docs.microsoft.com/en-us/windows/win32/etw/about-event-tracing). Using this i can measure the data packets being transferred to and from the machine every second.

[2022-05-26 17:15] Ashfaaq18 opened #45 "Network usage wrong values on my windows 11 system"
**Describe the bug**
When watching a YouTube video through Firefox in my windows 11 system, the program was not tracking the data usage accurately compared to the stats shown in the resource monitor.
This bug weirdly only appears on one of the WiFi connection profile. When switching to another profile it goes away.

**To Reproduce**
Steps to reproduce the behavior:
1. Launch OpenNetMeter.
2. Open

[2022-05-27 14:06] Ashfaaq18 commented on #45
found the error in the event viewer:
the below error logs to the event viewer for every OpenNetMeter launh
"Session "NT Kernel Logger" failed to start with the following error: 0xC0000035"

[2022-05-28 07:06] Ashfaaq18 commented on #45
Narrowed the error down to an exception in the [NetworkProcess->CaptureNetworkPackets method](https://github.com/Ashfaaq18/OpenNetMeter/blob/775b8c70f27b424cdaa7c6b0cba882c63fa64e8d/Models/NetworkProcess.cs#L293).

[2022-05-28 18:44] Ashfaaq18 commented on #45
After further testing, I finally narrowed it down to the ipv6 implementation.

The above phenomenon also proves it. That wifi profile used ipv6 addresses for the connection.

[2022-05-30 10:52] #45 closed

[2022-05-30 13:38] Ashfaaq18 commented on #43
fixed afa6b3db9ef0155717a6dadd97f9089f4d2a163b

[2022-05-30 13:38] #43 closed

[2022-06-05 12:38] amaru7 opened #48 "Mini Widget properly integrated into windows 10 taskbar"
Hi,

I wanted to change from NetSpeedmonitor, that hasn't been updated since 2010 to OpenNetMeter. Unfortunately ONM doesn't have such a well integrated mini widget like NetSpeedmonitor does, which is a TaskBar function.

I would love to see an update there, for me to change.
![netspeedmon](https://user-images.githubusercontent.com/14934650/172050840-d9ab0dca-7640-4a70-9264-c9b98fd426e8.jpg)

[2022-06-05 12:44] Ashfaaq18 commented on #48
Hi @amaru7 , you can actually change the mini widget's background color.
Go to the settings tab,
Select Dark mode for a dark background and white font.
Select transparent for a transparent background.

[2022-06-05 12:51] Ashfaaq18 commented on #48
And @amaru7 , regarding the integration of the speed meter in the taskbar. I implemented that before, but decided to replace it with this moveable mini widget. The reason for this decision is explained [here](https://github.com/Ashfaaq18/OpenNetMeter/issues/40)

[2022-06-10 05:56] dehghani-mehdi opened #49 "Option to hide graph"
Thank you for your awesome software, it would be great if you add a toggle option for the graph.

[2022-06-10 05:58] dehghani-mehdi opened #50 "Ability to add usage restrictions and notify the user if that limit is reached"
Ability to add usage limit and notify the user when that limit hits

[2022-06-10 06:03] dehghani-mehdi opened #51 "[Q] Why the OpenNetMeter shows different results compared to Windows's `Data usage` report"
I reset both and after a couple of days I compare them, OpenNetMeter shows higher number, it is not a big deal, I just want to know why.

[2022-06-10 07:46] Ashfaaq18 commented on #51
Hi @dehghani-mehdi, did you run this test with the OpenNetMeter settings option "Monitor these networks" set to "Public" only?

If its set to the default option "Both", it would also monitor the data packets sent internally between processes and networks without internet connection.

[2022-06-10 10:45] dehghani-mehdi commented on #51
@Ashfaaq18 I'm sorry, I had a typo on my first comment. OpenNetMeter shows lower number than Windows's one. so your theory is not quite right I think.
But yes, I didn't change that option. I tested with the default one.

[2022-06-10 10:50] dehghani-mehdi commented on #51
@Ashfaaq18 I'm sorry, I was not accurate in my first comment. OpenNetMeter shows different number than Windows's one. based on that numbers I think your theory is not quite right. _but yes, I didn't change that option. I tested with the default one._

For more clarity, OpenNetMeter shows 175MB download and 141MB upload, and Windows shows 204MB as Data usage.

[2022-06-10 19:33] Ashfaaq18 commented on #51
Hi @dehghani-mehdi, thanks for clarifying further.

regarding the above, I'm pretty sure that windows data usage includes both the download and upload usage combined. I couldn't find a source from Microsoft regarding this but found a forum post which confirm [this](https://superuser.com/questions/1140791/does-windows-10-data-usage-overview-include-uploads).

So taking the above into consideration,

[2022-06-10 20:37] Ashfaaq18 commented on #51
You can also try check the detailed data usages between both the data usage apps.
1. First, isolate a common app shown in OpenNetMeter(ONM) and window's data usage(WDU).
2. Compare the isolated app's data usage in ONM and WDU, the higher the difference the better.
3. Reset ONM and WDU data usage, start using this isolated application again with an internet connection.
4. Observe and compare the da

[2022-06-11 03:22] dehghani-mehdi commented on #49
Yes

[2022-06-11 03:29] dehghani-mehdi commented on #51
I didn't search about that, but I think that's correct, that's why I am looking for an alternative _and installed OpenNetMeter_.

No, I'm not looking for that amount of accuracy.

I'll try to do what you said (4 steps) asap.

[2022-06-16 06:42] kenzietama opened #52 "Feature Request: Ability to change mini widget speed format from bit/s to byte/s"
The mini widget works perfectly, it would be great if the speed format can be changed to byte/s so it will display KBps and MBps instead of Kbps and Mbps. Thanks

[2022-06-30 22:54] EncryptedFile commented on #52
I also would prefer to see Kilobytes, and Megabytes as opposed to Kilobits and Megabits.
Perhaps a radio-box option in the settings screen for users who prefer to see Kb/Mb over KB/MB?

[2022-07-03 04:57] Ashfaaq18 commented on #39
Hi @Python-37 , just released [version 0.11.0](https://github.com/Ashfaaq18/OpenNetMeter/releases/tag/v0.11.0). You can now get your data usage up until the [last 60 days](https://github.com/Ashfaaq18/OpenNetMeter#history-tab)  and anywhere in between.

[2022-07-03 04:57] #39 closed

[2022-07-03 12:11] BitWuehler opened #53 "add OpenNetMeter to winget package manager"
Last year I recognised, that there is the wonderfull winget package manager function in Windows to update programms in Windows like apt-get in Linux. The most programms, that I use, are already compatible with it. It would be wonderfull, if you could add OpenNetMeter to it.

Here you can inform yourself about the process:
https://docs.microsoft.com/en-us/windows/package-manager/package/

Thank you

[2022-07-03 21:30] war59312 opened #54 "OpenNetMeter Release 0.11.0 - Wont Run - unhandled exception - Expected Folder that Doesn't Exist"
OpenNetMeter Release 0.11.0 - Wont Run - unhandled exception on running.

Looks like it assumes a folder exists and crashes when it does not.

So don't crash, create the folder if really needed. Hope not, would be best to remain portable and use the current folder instead.

That is create and save user.config in the folder app is ran from instead of %LocalAppData%.

The crash:

[code]

[code]

Eve

[2022-07-04 12:23] Ashfaaq18 commented on #54
Hey @war59312 , does this happen every time you try launching the 0.11.0 version or just randomly?

Also regarding the portability of the application, i was considering on moving the user.config and the saved profiles to the application's own folder. But the problem here is, if the user wants to download and use another version. They've also got to manually move the saved profiles from the old ver

[2022-07-04 15:24] jonau01 opened #55 "Current and Total"
Version 0.10 has  : Current Data  and Total Data .    They both seem to show cumulative.
Version 0.11 has :  Current Data  .                             This seems to be a cumulative rather than current.   The number keeps rising.

It is possible to have an Actual Current Data and  Total Data  like the display of version 0.10

By  "Current Data Received"  :  I would like to see the  Actual Data re

[2022-07-04 15:51] Ashfaaq18 commented on #55
Hey @jonau01 , thank you for the suggestion. Its actually a better format compared to what i have implemented.

And thank you for the above example. this helped me understand what you meant.
In one of the following releases, ill include,
a "Current Data received" column showing data received every second (not cumulative) like your example table.
a "Total Data Received" column showing data received

[2022-07-04 19:35] war59312 commented on #54
OK, looks like just the first time and runs Ok on 2nd try, notice the folder got created.

Perhaps check of the config exists and if doesn't ask user if they wish to import an old config/profile or create a new one.

[2022-07-05 12:36] Ashfaaq18 commented on #54
fixed in commit 0ff812f325a8d9cff623bda2685bec0b2e6e8198

[2022-07-05 12:36] #54 closed

[2022-07-06 11:59] FDT-Dirk opened #56 "Version 0.11.1 freezes after 10-15 minutes"
Hi,

an hour ago, or so, I updated to 0.11.1 and since then the tool already 2-3 times freezed and I had to restart it.
The widget and the tool itself freezed, (summary tab, etc.) not just one.
I now jumped back tp 0.11.0.
I use Win10.

Kind regards
Dirk

[2022-07-06 15:02] Ashfaaq18 commented on #56
Hi @FDT-Dirk , i faced the same issue today with this latest version.

Do you know what caused it?

And by freezing you mean the network speed is stuck and the graph is stopped yeah? were you still able to navigate the other tabs while frozen?

[2022-07-07 08:53] FDT-Dirk commented on #56
Hi,

now even my 0.11.0 freezed. When I open the program from taskbar I can jump between all tab's, but no tab and widget are not updating.

Kind regards
Dirk

[2022-07-08 10:28] #56 closed

[2022-07-08 10:38] Ashfaaq18 commented on #56
Hi @FDT-Dirk , fixed the issue. its included in the new v0.11.2 version

[2022-07-10 07:09] Ashfaaq18 opened #57 "Application freezes when disconnecting and reconnecting the network adapter."
**Describe the bug**
The application freezes when the network adapter is disconnected and reconnected to a connection. This freeze happens exactly when the speed graph hits the 60th second in the graph.

**To Reproduce**
Steps to reproduce the behavior:
1. Open application (version 0.11.0, 0.11.1 or 0.11.2)
2. connect to the internet (toggle WiFi to ON state), wait for app to detect
3. disconnect

[2022-07-10 07:21] #57 closed

[2022-07-10 12:57] Ashfaaq18 commented on #55
This feature is now available in the v0.12.0 release

[2022-07-10 12:57] #55 closed

[2022-07-10 12:58] Ashfaaq18 commented on #52
This feature is now available in the v0.12.0 release

![image](https://user-images.githubusercontent.com/27722888/178145866-fe2b1e49-556b-46a8-98ad-fa942f2ddf76.png)

[2022-07-10 12:58] #52 closed

[2022-07-14 06:42] FDT-Dirk opened #58 "Application fast closes when network connection change."
Hi,

the application fast closes/crashes when the network connection change.
I already had the impression since an earlier version, but I thought it is due to my last bug report with the freezing display, so I didn't mention it in my last report to not mix up issues. But it stays to be the same even in version 12.
I notice this behavior when I enter/exit my vpn connection (need to use vpn often).

[2022-07-14 07:40] Ashfaaq18 commented on #58
Hi @FDT-Dirk, thanks for reporting the problem.

could you list the steps to reproduce this bug?

[2022-07-14 07:44] FDT-Dirk commented on #58
Hi,

for me it happens when I turn on/off the vpn connection.
The app is not able to handle the "new" way of standard communication of the device (laptop;Win10pro) and crashes.

Kind regards
Dirk

[2022-07-14 13:18] Ashfaaq18 commented on #58
btw was this working fine before version 0.11.0? (version 0.10.0 or below)

when i switch connections from ethernet to wifi or wifi to ethernet, it switches without an issue. I'm suspecting this to be specific to VPN connections.

[2022-07-14 13:35] FDT-Dirk commented on #58
Hi,
I had it definitely in 11, if it happened in 10 I'm not sure.

Possible that it is something related to VPN, I said I'm not sure about the change WLAN to LAN.
I need to use VPN and there it happens.

[2022-07-20 03:12] GenDrive-Dev commented on #58
Hi there,

great application. Unfortunately I stumbled across the same problem, V0.12.0 seems to contain still the bug that the
application is crashing.

I post msg from windows log, maybe it will help to locate the problem:

Application: OpenNetMeter.exe
CoreCLR Version: 6.0.322.12309
.NET Version: 6.0.3
Description: The process was terminated due to an unhandled exception.
Exception Info: System

[2022-07-20 09:49] Ashfaaq18 commented on #58
Hi @GenDrive-Dev Thank you for the logs. From the looks of it though it does not seem to be related to the same issue here. Nevertheless, I'll still try fixing the error shown in your logs and let you know.

[2022-07-20 14:11] FDT-Dirk commented on #58
Hi @Ashfaaq18 ,
I checked my eventlogs too. I have the same failures like @GenDrive-Dev. Maybe my guess about entering/leaving the VPN was just an impression and might not be the real reason.
I'm looking forward for an corrected version, maybe the entries in the log and the according fix will also sort out my issues.
Kind regards
Dirk

[2022-07-20 18:12] Ashfaaq18 commented on #58
@FDT-Dirk and @GenDrive-Dev , [here](https://github.com/Ashfaaq18/OpenNetMeter/releases/tag/v0.12.1) is a test version of the app with a fix for this issue. Let me know if its working. If its not, you could try pasting the error windows logs back again here. It will help me debug this.

[2022-07-20 23:31] GenDrive-Dev commented on #58
thank you for your fast response,
downloaded and activated on a very busy machine, I will report in 2 days if the problem is gone.

the 0.12.0 today crashed again and it seems it crash every day once, lets hope the problem is fixed now.

Even with the bug its a great application - rather before I use something else I prefer to use opennetmeter ;)

[2022-07-21 03:52] Ashfaaq18 commented on #58
Thank you.

[2022-07-21 06:23] FDT-Dirk commented on #58
Hi,
I turned on my computer this morning (from hibernate) saw your mail and that the tool was anyway gone, so I downloaded and installed the RC version. I started it and after that went in my necessary VPN session. Thats all about 20-25 min. in the past. Now the tool is still alive, but I have no longer any measured data shown by the tool. Neither in the widget nor in the summary when I open the t

[2022-07-24 08:38] Ashfaaq18 opened #59 "Application does not update records accurately when the day changes."
**Describe the bug**
The "History" tab records does not update accurately when the day changes for example from the 21st to 22nd.

**To Reproduce**
Steps to reproduce the behavior:
1. Run the application
2. make sure your system time is 11:59pm on lets say the 21st
3. wait until it hits 12:00am on the 22nd
4. the "summary" tab resets. It does not update under the new date (22nd) in the "History" t

[2022-07-24 10:21] GenDrive-Dev commented on #58
just a followup: the RC version so far is running for 3,5 days without any crash  - seems the bug is fixed

good job, Ashfaaq!

[2022-07-24 12:07] Ashfaaq18 commented on #58
Thank you for the update

[2022-07-25 10:26] FDT-Dirk commented on #58
Hi,
same on my PC, beside the first initial freeze of the shown values shortly after start of the rc version. Since then all is fine on my PC too.

Kind regards
Dirk

[2022-07-25 10:50] Ashfaaq18 commented on #58
Thank you for the update

[2022-07-25 13:54] ahmed2m commented on #53
Wouldn't be possible without an installer, they have an issue with zip programs https://github.com/microsoft/winget-cli/issues/140

[2022-07-25 14:11] BitWuehler opened #60 "adding an installer for easier updates"
If I see, that there is an Update, im always I bit lazy to do it, because I have to extract the zip and put it in the right folder.

Adding an installer would be woderful. Also than you could add it to package manager projects for even easier installation.

[2022-07-27 14:25] FDT-Dirk commented on #58
Hi,
just to let you know. I had a no longer updating widget with the 12.1rc middle of the day (nothing to do with VPN; I suppose that's out now as possible reason). When I tried to open the try icon I got a black rectangle with nothing in it, just the frame around and all black inside. Nothing in system events.
Kind regards
Dirk

[2022-07-27 15:28] #59 closed

[2022-07-27 16:23] uDEV2019 opened #61 "Settings get lost when updating to new version"
**Describe the bug**
When updating OpenNetMeter all settings from previous usage are gone.

**To Reproduce**
Steps to reproduce the behavior:
1. Download new version from github and extract content to some directory
2. close running OpenNetMeter, copy extracted content to program dir and overwrite existing files
3. start OpenNetMeter

**Expected behavior**
Remember the settings after copying new f

[2022-08-01 07:46] hexaholic opened #62 "Feature Request: Option to set fixed unit for network speed"
Since #52 it is possible to switch between bits/second and bytes/second, which is a great improvement. But the displayed units will still change in their magnitude, e.g. between Kbps, Mbps etc, depending on current traffic throughput.

Please add an option to set the unit to a fixed value. For example, I would like to set it to always display Mbps but never Kbps, Gbps and so on.

[2022-08-01 12:08] FDT-Dirk commented on #58
Hi,

had some minutes ago a crash of 12.1 in kernelbase.dll. It happened suddenly no idea with what it can be related.

Kind regards
Dirk

[2022-08-03 13:45] Ashfaaq18 commented on #58
Hey @FDT-Dirk,
Thanks for reporting. It would be great if you could open a new issue regarding this crash. I'll close this one since we've solved this.
If you do encounter it again, you can log your findings to the new issue thread.

[2022-08-04 09:39] aisbergde opened #63 "How to update and keep history and settings?"
**Is your feature request related to a problem? Please describe.**

There is no description how to update and keep settings and history.
If I just download a new version and execute it, then all the history is lost, also settings are lost.
I would like to keep settings and history.

There is a related issue #61
but if I copy user.config then I get only settings.
I have no idea where the history is

[2022-08-29 09:17] FDT-Dirk opened #64 "No updates for download/upload and then crash when try to open app from taskbar."
Hi @Ashfaaq18 ,

as wished in the other issue, which you wanted to close but is still open, I open a new issue again about freezing updates of widget and taskbar app window.
This time even the whole app crashed while my try to access the taskbar app.

Protocol:
Name der fehlerhaften Anwendung: OpenNetMeter.exe, Version: 0.12.1.0, Zeitstempel: 0x6283e0e1
Name des fehlerhaften Moduls: KERNELBASE.dll

[2022-08-31 05:42] #58 closed

[2022-09-02 22:22] Paderman opened #65 "Please add languages"
Can you add languages, please?

I tried to add with _ResX Manager_, but I get errors only and I'm a beginner.

In my own project, there's working with languages...

Thank you.

[2022-09-03 15:47] Ashfaaq18 opened #66 "I'm currently busy with work. Will try to fix open issues when I have the time. Just not as frequent."

[2022-09-03 15:59] Ashfaaq18 commented on #63
Hi @aisbergde, your saved network history files are the .sqlite files found under the "C:\Users\User\AppData\Local\OpenNetMeter" folder. You dont have to transfer the history data after updating.

the file structure should look like this,

![image](https://user-images.githubusercontent.com/27722888/188278520-340bc4c4-1f4b-48ee-8706-634a5f672889.png)

Regarding the settings files, I'll try to find

[2022-10-08 08:31] fernando47924 opened #67 "Need Opacity / Transparency controller option for Mini Widget"
If you will add **Opacity / Transparency** controller option feature for Mini Widget that would be great.
Thanks

[2022-10-08 10:04] Ashfaaq18 commented on #67
![image](https://user-images.githubusercontent.com/27722888/194702038-a8f8724d-673a-46a9-b6a7-5123669d3042.png)

is this what you are looking for? if not could you explain your request a little more?

[2022-10-08 10:54] vishal262 commented on #67
No, this not what I'm talking about
Need a option where we can increase or decrease the opacity of Mini Widget

[2022-11-24 10:02] yoo-man opened #68 "scaling for higher network speed"
the tool is great and i like it, but i use at home 10Gbit-Adapters and transfer rates graphes are totally outside the borders of the diagram :-(

a kind of autoscaling or an option tho choose the max network speed would be good

thank you for your work already done

[2022-11-24 10:10] Ashfaaq18 commented on #68
Hi @yoo-man , thank you for reporting the issue.
Could you attach an image of the application showing the graph problem? It would be easier for me to solve this issue referring to it.

[2022-11-24 10:18] yoo-man commented on #68
Hi Ashfaaq,

 �

thank you for the very quick response.

 �

This is an example for a simple file copy from my Synology NAS at ca. 200 MB/s. At the moment there is running a database repair, the speed goes under normal conditions up to > 700MB/s, what makes the graph invisible.

 �

Maybe that are not typical rates, I just wanted to comment and suggest.

 �

 �

Best regards

 �

Jonas

 �

From:

[2022-11-24 11:39] Ashfaaq18 commented on #68
@yoo-man , not sure if you've attached any images for your example here. I don't see any images. Although i see this weird symbol instead =>  �.

And yeah, there is a limitation for the graphs maximum y-value which is 1Gbps when the speed format is set to bps (Settings->Network speed format->bps), and 1GBps when set to Bps. I can try adding an extra option to extend this limit to 512 Gbps temporar